@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.phone-screen-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.chat-display {
  padding: 1rem;
  height: calc(100% - 170px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-bubble {
    background-color: var(--bubble-color);
    color: #0A100D;
    padding: 1rem 0.5rem;
    border-radius: 1.5rem;
    text-align: center;
    transition: background-color 200ms;
    cursor: pointer;
}

.chat-bubble:hover {
    background-color: var(--bubble-color-hover);
}
