@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-chat-display-dark-blue: #add6ff;
  --color-chat-display-mid-blue: #cde5fd;
  --color-chat-display-light-blue: #f5faff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.phone-screen-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.chat-display {
  padding: 1rem;
  flex: 1;
  min-height: 0; /* Essential for flex scrolling */
  overflow-y: scroll; /* Use 'scroll' instead of 'auto' to always show scrollbar track */
  -webkit-overflow-scrolling: touch;
}

.messages-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: flex-end;
}

.chat-display::-webkit-scrollbar {
  display: none;
}

.chat-option {
  background-color: #f5faff;
  color: #0a100d;
  border-style: solid;
  border-color: transparent;
  border-width: 1.5px;
  padding: 1rem 0.5rem;
  border-radius: 1.5rem;
  text-align: center;
  transition: background-color 200ms;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
}

.chat-option:hover {
  background-color: transparent;
  border-color: var(--border-color);
  /* background-color: linear-gradient(to right, #add6ff, #cde5fd); */
}

.chat-bubble {
  background-color: var(--bubble-color);
  color: #0a100d;
  padding: 1rem;
  border-radius: 1.5rem;
  max-width: 70%;
  text-align: left;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
}

.notification {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.75rem;
  align-items: center;
  text-align: left;
  background-color: #0a0a0a;
  border-radius: 1.5rem;
  z-index: 3;
  position: absolute;
  width: 343px;
  height: 4.5rem;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.notification:hover {
  cursor: pointer;
}
